.features {
  padding-top: 80px;
}

.features .features-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.features .features-wrapper .features-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features .features-wrapper .features-top .features-subtitle {
  font-size: 1.143em;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.6px;
  line-height: 1.5em;
  font-family: "Lora", serif;
  color: #595959;
}

.features .features-wrapper .features-top .features-title {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 37px;
  font-weight: 600;
  color: #111111;
}

.features .features-wrapper .features-list-wrapper {
  margin-top: 30px;
}

.features .features-wrapper .features-list-wrapper .features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features .features-wrapper .features-list-wrapper .features-list .feature {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center; */
  text-align: center;
  width: 370px;
  padding: 10px;
  cursor: pointer;
}

.features
  .features-wrapper
  .features-list-wrapper
  .features-list
  .feature:not(:last-child) {
  margin-right: 71px;
}

.features
  .features-wrapper
  .features-list-wrapper
  .features-list
  .feature
  .feature-icon {
  width: 53px;
  height: 63px;
  object-fit: contain;
}

.features
  .features-wrapper
  .features-list-wrapper
  .features-list
  .feature
  .feature-title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #111111;
}

.features
  .features-wrapper
  .features-list-wrapper
  .features-list
  .feature
  .feature-title:hover {
  color: #1e90ff;
}

.features
  .features-wrapper
  .features-list-wrapper
  .features-list
  .feature
  .feature-txt {
  margin: 0;
  color: #343434;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

/* POPULAR-COURSES */
.popular-courses-frame {
  margin-top: 80px;
}

.popular-courses-frame .popular-section {
  display: flex;
  flex-direction: column;
}

.popular-courses-frame .popular-section .category-title {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 37px;
  font-weight: 600;
  color: #111111;
  text-align: center;
}

.popular-courses-frame .popular-section .cards-frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.popular-courses-frame .popular-section .cards-frame .popular-course {
  position: relative;
  width: 295px;
  border-radius: 5px;
  background-color: #fafafa;
}

.popular-courses-frame
  .popular-section
  .cards-frame
  .popular-course:not(:nth-child(4n)) {
  margin-right: 24px;
}

.popular-courses-frame
  .popular-section
  .cards-frame
  .popular-course
  .popular-course-img {
  width: 295px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.popular-courses-frame
  .popular-section
  .cards-frame
  .popular-course
  .popular-course-detail-wrapper {
  padding: 10px;
}

.popular-courses-frame
  .popular-section
  .cards-frame
  .popular-course
  .popular-course-title {
  margin: 0;
  font-size: 20px;
  font-family: "Lora", serif;
}

.popular-courses-frame
  .popular-section
  .cards-frame
  .popular-course
  .popular-course-desc {
  margin-top: 5px;
  color: #595959;
  margin-bottom: 0;
}

.popular-courses-frame
  .popular-section
  .cards-frame
  .popular-course
  .popular-course-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.popular-courses-frame
  .popular-section
  .cards-frame
  .popular-course
  .popular-course-wrapper
  .popular-course-mentor {
  margin: 0;
  font-weight: bold;
  color: #595959;
  font-size: 18px;
}

.popular-courses-frame
  .popular-section
  .cards-frame
  .popular-course
  .popular-course-wrapper
  .popular-course-sold {
  margin: 0;
  color: #111111;
  font-weight: bold;
}

.popular-courses-frame
  .popular-section
  .cards-frame
  .popular-course
  .popular-course-wrapper
  .popular-course-sold
  .sold {
  margin: 0;
  font-weight: bold;
  color: #595959;
  font-size: 18px;
}

.popular-courses-frame
  .popular-section
  .cards-frame
  .popular-course
  .popular-course-detail-wrapper
  .popular-course-category {
  position: absolute;
  top: 170px;
  left: 180px;
  padding: 4px 8px;
  background-color: rgb(54, 141, 173);
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
